@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?exs3re');
  src:  url('fonts/icomoon.eot?exs3re#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?exs3re') format('truetype'),
    url('fonts/icomoon.woff?exs3re') format('woff'),
    url('fonts/icomoon.svg?exs3re#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-odnoklassniki-square:before {
  content: "\e903";
}
.icon-instagram-with-circle:before {
  content: "\e900";
}
.icon-youtube-with-circle:before {
  content: "\e901";
}
.icon-vk-with-circle:before {
  content: "\e902";
}
