.header {
    position: relative;

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 600px;
    padding: 27px 15px 208px;

    background-image: url("../images/header__background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}
.nav {
    position: relative;

    display: flex;

    width: 100%;

    -ms-flex-pack: justify;
    justify-content: space-between;
}
.nav__menu-button {
    padding: 0 15px;

    cursor: pointer;

    border: none;
    background-color: transparent;
}
.nav-info {
    display: none;
}
.advert {
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}
.advert__logo {
    width: 70px;
    height: auto;

    background-image: url("images/header__logo_mobile.png");
}
.advert__title {
    letter-spacing: 1px;

    color: #0d3351;

    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
}
.advert__subtitle {
    margin-bottom: 43px;

    text-align: center;
    letter-spacing: -1.25px;

    color: #0d3351;

    font-family: "Roboto Slab", serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
}
.advert__choice-button {
    width: 202px;
    margin-bottom: 5px;
    padding: 16px 49px;

    cursor: pointer;
    text-align: center;

    color: #ffffff;
    border: none;
    background-color: #33c7fd;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.advert__choice-button:hover,
.advert__choice-button:active,
.advert__choice-button:focus {
    background-color: darkblue;
}
.catalog {
    display: flex;
        flex-direction: column;

    width: 100%;
    padding: 15px 0;

    background: #f3f3f3;

    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}
.catalog__title {
    text-align: center;

    color: #0d3351;

    font-family: "Roboto Slab", serif;
    font-size: 20px;
}
.catalog__sort {
    text-align: center;

    color: #0d3351;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.catalog__sort_list {
    display: inline-block;

    width: auto;
    max-width: 70px;

    cursor: pointer;

    border: none;
    background: transparent;

    font-style: italic;
}
.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -ms-flex-direction: column;
}
.voyage {
    position: relative;

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    box-sizing: content-box;
    width: 100%;
    max-width: 290px;
    padding-top: 20px;

    text-align: left;

    background: transparent;
    background-size: cover;

    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}
.voyage_top::after {
    position: absolute;
    z-index: 10;
    right: 32px;

    width: 89px;
    height: 101px;
    padding: 30px 11px 39px 13px;

    content: "ХИТ ПРОДАЖ";
    text-align: center;

    color: #ffffff;
    background-color: transparent;
    background-image: url("./images/top-tag.png");

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.voyage_sale::after {
    position: absolute;
    z-index: 10;
    right: 32px;

    width: 89px;
    height: 101px;
    padding: 30px 11px 39px 13px;

    content: "Акция";
    text-align: center;

    color: #ffffff;
    background-color: transparent;
    background-image: url("./images/sale_tag.png");

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.voyage__picture {
    position: relative;

    display: block;
    overflow: hidden;

    width: 290px;
    height: 229px;
}
.voyage__picture > img {
    position: absolute;

/* top: -75%; */

    display: block;

    width: 100%;
    height: auto;
    min-height: 100%;
}
.voyage__descr {
    box-sizing: content-box;
    max-width: 100%;
    margin-top: 0;
    padding: 30px 27px 42px 22px;

    background: #ffffff;
}
.voyage__name {
    position: relative;

    display: block;

    padding-bottom: 10px;

    text-decoration: none;

    color: #00a2dd;

    font-family: "Roboto Slab", serif;
    font-size: 18px;
}
.voyage__name_head {
    margin: 0;
    padding: 0;

    color: inherit;

    font-family: inherit;
    font-size: 1em;
    font-weight: inherit;
}
.voyage__name_head::after {
    content: "\2023";
}
.voyage__details {
    text-align: left;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.voyage__details_bold {
    font-weight: 700;
}
.voyage_for-desktop {
    display: none;
}
.voyage__prise {
    color: #0d3351;

    font-family: "Roboto Slab", serif;
    font-size: 30px;
}
.voyage__prise_deleted {
    padding-left: 10px;

    text-decoration: line-through;

    color: rgba(13, 51, 81, 0.55);

    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: bold;
}
.catalog__expand-button {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 17px 49px 16px 38px;

    cursor: pointer;
    text-align: center;

    color: #ffffff;
    border: none;
    background-color: #33c7fd;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.catalog__expand-button:hover,
.catalog__expand-button:active,
.catalog__expand-button:focus {
    background-color: darkblue;
}
.footer {
    display: flex;
        flex-direction: column;

    padding-top: 29px;

    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}
.footer-links {
    display: none;
}
.contact-info,
.contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}
.footer__title {
    margin: 0;

    color: #0d3351;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.footer__media-link {
    text-decoration: none;

    color: #0d3351;

    font-size: 30px;
}
.site__phone-number {
    position: relative;

    color: #0d3351;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.contact-info__title {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
}
.footer__company-title {
    color: #0d3351;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
@media (min-width: 768px) {
    .header {
        height: 608px;
    }
    .nav-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        min-width: 50%;

        -ms-flex-pack: space-around;
        justify-content: space-around;
    }
    .nav-info__selector {
        display: inline-block;

        width: auto;

        cursor: pointer;

        border: none;
        background: transparent;

        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-style: normal;
    }
    .catalog-list {
            flex-direction: row;

        max-width: 100%;

        align-items: stretch;
        -ms-flex-align: stretch;
        -ms-flex-align: start;
        -ms-flex-direction: row;
        -ms-flex-pack: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        justify-content: center;
    }
    .voyage {
        width: 100%;
        max-width: 345px;
        height: 508px;
        padding: 25px 15px 0 15px;
    }
    .advert__title {
        letter-spacing: 1.3px;

        font-size: 26px;
        line-height: 1.85;
    }
    .advert__subtitle {
        margin-bottom: 23px;

        letter-spacing: -1.8px;

        font-size: 72px;
        line-height: 0.67;
    }
    .voyage__picture {
        width: 345px;
        height: 272px;
    }
    .voyage__descr {
        min-width: 296px;
        height: 207px;
    }
    .footer {
            flex-direction: row;

        align-items: center;
        -ms-flex-align: center;
        -ms-flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-links {
        display: flex;
            flex-direction: column;

        align-items: flex-start;
        -ms-flex-align: start;
        -ms-flex-direction: column;
    }
    .footer-links__item {
        text-decoration: none;

        color: #0d3351;

        font-family: "Raleway", sans-serif;
        font-size: 14px;
    }
    .contact-info,
    .contact-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        align-items: flex-start;
        -ms-flex-align: start;
        -ms-flex-direction: column;
    }
}
@media (min-width: 1440px) {
    .header {
        height: 648px;
    }
    .advert__logo {
        width: 88px;
        height: auto;

        background-image: url("images/header__logo_desktop.png");
    }
    .advert__title {
        letter-spacing: 1.8px;

        font-size: 36px;
        line-height: 1.33;
    }
    .advert__subtitle {
        margin-bottom: 57px;

        letter-spacing: -2.5px;

        font-size: 100px;
    }
    .catalog-list {
        display: flex;

        width: 1140px;
        height: 1100px;

        flex-flow: column wrap;
    }
    .voyage {
        box-sizing: content-box;
        width: 100%;
        max-width: 555px;
        height: auto;
    }
    .voyage:nth-child(2n + 1) {
        order: 2;
    }
    .voyage:nth-child(2n) {
        order: 1;
    }
    .voyage_big {
        order: 1 !important;
    }
    .voyage_small {
        order: 2 !important;
    }
    .voyage__picture {
        width: 555px;
        height: 215px;
    }
    .voyage__picture_large {
        height: 437px;
        min-height: 437px;
    }
    .voyage__picture_small {
        height: 113px;
    }
    .voyage__picture_small > img {
        top: -75%;
    }
    .voyage__descr {
        box-sizing: border-box;
        width: 555px;
        max-width: 555px;
        height: 190px;
    }
    .voyage_for-desktop {
        display: block;
    }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .footer {
        padding: 0 25%;

        justify-content: space-between;
    }
    .voyage_sale::after {
        top: 25px;
        right: 25px;
    }
    .voyage_top::after {
        top: 25px;
        right: 25px;
    }
}
