.header {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 600px;
  padding: 27px 15px 208px;

  background-image: url("../images/header__background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  align-items: center;
}
.nav {
  position: absolute;

  width: 100%;
}
.nav__menu-button {
  border: none;
  background-color: transparent;
}
.advert {
  display: flex;
  flex-direction: column;

  height: 100%;

  align-items: center;
}
.advert__logo {
  display: block;

  width: 70px;
  height: 70px;

  background-image: url("images/header__logo_mobile.png");
}
.advert__title {
  letter-spacing: 1px;

  color: #0d3351;

  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
}
.advert__subtitle {
  margin-bottom: 43px;

  text-align: center;
  letter-spacing: -1.25px;

  color: #0d3351;

  font-family: "Roboto Slab", serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
}
.advert__choice-button {
  width: 202px;
  margin-bottom: 5px;
  padding: 16px 49px;

  text-align: center;

  color: #ffffff;
  border: none;
  background-color: #33c7fd;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.catalog {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 15px 0;

  background: #f3f3f3;

  align-items: center;
}
.catalog__title {
  text-align: center;

  color: #0d3351;

  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
.catalog__sort {
  text-align: center;

  color: #0d3351;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.catalog__sort_list {
  display: inline-block;

  width: auto;
  max-width: 70px;

  border: none;
  background: transparent;

  font-style: italic;
}
.voyage {
  display: flex;
  flex-direction: column;

  box-sizing: content-box;
  width: 100%;
  max-width: 290px;
  margin-top: 20px;

  text-align: left;

  background: #ffffff;

  align-items: center;
  justify-content: space-evenly;
}
.voyage__picture {
  position: relative;

  display: block;
  overflow: hidden;

  width: 290px;
  height: 229px;
}
.voyage__picture > img {
  position: absolute;

  /* top: -75%; */

  display: block;

  width: 100%;
  height: auto;
  min-height: 100%;
}
.voyage__descr {
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 0;
  padding: 30px 27px 42px 22px;
}
.voyage__name {
  position: relative;

  text-decoration: none;

  color: #00a2dd;

  font-family: "Roboto Slab", serif;
  font-size: 18px;
}
.voyage__name_head {
  margin: 0;
  padding: 0;

  all: inherit;
}
.voyage__name::after {
  position: absolute;
  right: -15px;

  content: "\2023";
}
.voyage__details {
  text-align: left;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.voyage__details_bold {
  font-weight: 700;
}
.voyage_for-desktop {
  display: none;
}
.voyage__prise {
  color: #0d3351;

  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
.catalog__expand-button {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 17px 49px 16px 38px;

  text-align: center;

  color: #ffffff;
  border: none;
  background-color: #33c7fd;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #0d3351;
}
.footer__media-link {
  text-decoration: none;
  color: #0d3351;
  font-size: 30px;
}
.footer__phone-number {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0d3351;
}
.footer__company-title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #0d3351;
}
@media (min-width: 768px) {
  .header {
    height: 608px;
  }
  .voyage {
    width: 100%;
    max-width: 345px;
    margin-top: 25px;
  }
  .advert__title {
    letter-spacing: 1.3px;

    font-size: 26px;
    line-height: 1.85;
  }
  .advert__subtitle {
    margin-bottom: 23px;

    letter-spacing: -1.8px;

    font-size: 72px;
    line-height: 0.67;
  }
  .voyage__picture {
    width: 345px;
    height: 272px;
  }
  .footer {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .header {
    height: 648px;
  }
  .advert__logo {
    width: 88px;
    height: 88px;

    background-image: url("images/header__logo_desktop.png");
  }
  .advert__title {
    letter-spacing: 1.8px;

    font-size: 36px;
    line-height: 1.33;
  }
  .advert__subtitle {
    margin-bottom: 57px;

    letter-spacing: -2.5px;

    font-size: 100px;
  }
  .voyage {
    width: 100%;
    max-width: 555px;
    margin-top: 21px;
  }
  .voyage__picture {
    width: 555px;
    height: 215px;
  }
  .voyage__picture_large {
    height: 437px;
  }
  .voyage__picture_small {
    height: 113px;
  }
  .voyage__picture_small > img {
    top: -75%;
  }
  .voyage_for-desktop {
    display: block;
  }
}
