body {
  background-color: #1da1f2;
}
.channels-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 2px solid black;
}
.channels-list-item_name {
  color: white;
}
.channels-list-item_delete-button {
  background-color: transparent;
  border: none;
}
.channels-list-item_delete-button:hover {
  cursor: pointer;
}
@import url("./normalize.css");
